*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(8, 8, 92);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

button{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 10px;
}

#rock{
    background-color: rgb(43, 226, 226);
}

#paper{
    background-color: rgb(65, 223, 86);
}

#scissor{
    background-color: rgb(199, 66, 66);
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: large;
    opacity: 95%;
}

.choices :hover{
    border-color: yellow;
    font-size: larger;
}
.scoreBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2 rem;
    margin: 3rem;
    gap: 5rem;
}

#userScoreb, #compScoreb{
    font-size: 4rem;
}

.msgContainer{
    margin-top: 5rem;
}
#msg{
    display: inline;
    font-size: 2rem;
    color: white;
    background-color: rgb(199, 170, 5);
    padding: 1rem;
    border-radius: 1rem;
}